<h1>Websites</h1>
<mat-divider></mat-divider>
<h3>Add Website</h3>
<section>
<form class="example-form">
  <mat-form-field class="example-full-width">
  <input type="url" matInput [formControl]="urlFormControl" [errorStateMatcher]="matcher"
  placeholder="Ex. http://www.exemplo.com">
    <mat-error *ngIf="urlFormControl.hasError('pattern') && !urlFormControl.hasError('required')">Please enter a valid URL (ex: http://www.exemplo.com)</mat-error>
    <mat-error *ngIf="urlFormControl.hasError('required')">URL is <strong>required</strong></mat-error>
  </mat-form-field>
</form>
    <button class="adicionar" mat-button *ngIf="urlFormControl.valid && urlFormControl.value" (click)="add(urlFormControl.value)">Adicionar</button>
 </section>

 <mat-divider></mat-divider>
 <h3>Current Websites</h3>

 <mat-button-toggle (click)="getWebsites()" value="">Mostrar todos</mat-button-toggle>
<div class="avalSelect">
<form>
  <mat-form-field class="example-full-width">
 <mat-label>Avaliação</mat-label>
 <mat-select [formControl]="avalFormControl" (selectionChange)="getWebsitesByAvaliacao($event.value)">
  <mat-option *ngFor="let aval of avaliacao" [value]="aval">{{aval}}</mat-option>
 </mat-select>
</mat-form-field>
</form>
</div>




<!-- 
  ['Por avaliar', 'Em avaliação', 'Avaliado', 'Erro na avaliação']
 -->

 <ul class="websites">
  
  <table mat-table [dataSource]="websites" class="mat-elevation-z8" matSort (matSortChange)="getWebsitesOrdered($event)"
    >

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- URL Column -->
    <ng-container matColumnDef="URL">
      <th mat-header-cell *matHeaderCellDef> URL </th>
      <td mat-cell *matCellDef="let element"> {{element.url}} </td>
    </ng-container>
  
    <!-- Data de Registo Column -->
    <ng-container matColumnDef="dataDeRegisto" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Data de Registo </th>
      <td mat-cell *matCellDef="let element"> {{element.dataDeRegisto}} </td>
    </ng-container>
  
    <!-- Data de avaliacao Column -->
    <ng-container matColumnDef="dataDaUltimaAvaliacao" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Data da ultima avaliação </th>
      <td mat-cell *matCellDef="let element"> {{element.dataDaUltimaAvaliacao}} </td>
    </ng-container>
  
    <!-- avaliacao Column -->
    <ng-container matColumnDef="Avaliação">
      <th mat-header-cell *matHeaderCellDef> Avaliação </th>
      <td mat-cell *matCellDef="let element"> {{element.avaliacao}} </td>
    </ng-container>

    <!-- Detalhes Column-->
    <ng-container matColumnDef="Detalhe">
      <th mat-header-cell *matHeaderCellDef> Detalhe </th>
      <td mat-cell *matCellDef="let element"> <a routerLink="/website/{{element._id}}">Ver detalhes</a>  </td>
    </ng-container>

    <!-- Detalhes Column-->
    <ng-container matColumnDef="Apagar">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> <button mat-icon-button (click)="delete(element)"><mat-icon>delete</mat-icon></button>  </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</ul>
  

<!-- Copyright 2024 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at {{'https://angular.io/license'}} -->