<h1>Websites</h1>
<section>
<form class="example-form">
  <mat-form-field class="example-full-width">
  <input type="url" matInput [formControl]="urlFormControl" [errorStateMatcher]="matcher"
  placeholder="Ex. http://www.exemplo.com">
    <mat-error *ngIf="urlFormControl.hasError('pattern') && !urlFormControl.hasError('required')">Please enter a valid URL</mat-error>
    <mat-error *ngIf="urlFormControl.hasError('required')">URL is <strong>required</strong></mat-error>
  </mat-form-field>
</form>
    <button mat-button *ngIf="urlFormControl.valid && urlFormControl.value" (click)="add(urlFormControl.value)">Adicionar</button>
 </section>
 <mat-divider></mat-divider>

 <mat-button-toggle (click)="getWebsites()" value="">Mostrar todos</mat-button-toggle>
 
 <mat-select [formControl]="avalFormControl" (selectionChange)="getWebsitesByAvaliacao($event.value)">
  <mat-option *ngFor="let aval of avaliacao" [value]="aval">{{aval}}</mat-option>
 </mat-select>

 <p>Ordenar</p>
 <mat-button-toggle-group  name="fontStyle" aria-label="Font Style">
  <mat-button-toggle (click)="getWebsitesOrdered('dataDeRegisto')" value="dataDeRegisto">Data de Registo</mat-button-toggle>
  <mat-button-toggle (click)="getWebsitesOrdered('dataDaUltimaAvaliacao')" value="dataDaUltimaAvaliacao">Data de Avaliacao</mat-button-toggle>
</mat-button-toggle-group>


<!-- 
  ['Por avaliar', 'Em avaliação', 'Avaliado', 'Erro na avaliação']
 -->

 <ul class="websites">
  <mat-list *ngFor="let website of websites">
    <a routerLink="/website/{{website._id}}">
      <span class="badge">{{website.url}}</span> Data de Registo: {{website.dataDeRegisto}} 
      Data da ultima aval: {{website.dataDaUltimaAvaliacao}} 
      Avaliacao:  {{website.avaliacao}} 
    </a> 
  </mat-list>
</ul>
  
<!-- Copyright 2024 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at {{'https://angular.io/license'}} -->