<button (click)="goBack()" class="back">Back to website</button>
<button mat-button value="" class="apagar">Eliminar Webpage</button>
<h1>Detalhes de Webpage</h1>
<mat-divider></mat-divider>
<mat-list>
  <mat-list-item role="listitem">URL: {{webpage.url}}</mat-list-item>
  <mat-list-item role="listitem">Data da última avaliação: {{webpage.dataDaUltimaAvaliacao?webpage.dataDaUltimaAvaliacao:"-"}}</mat-list-item>
  <mat-list-item role="listitem">Conforme: {{webpage.isCompliant === "Conforme"?"Conforme":"Não Conforme"}}</mat-list-item>
</mat-list>