button {
    font-size: medium;
}

button.back {
    background-color: rgb(223, 223, 223);
    border-style: solid;
    padding: 5px;
    border-radius: 10px;
    width:170px;
}

button.back:active {
    background-color: rgb(200, 200, 200);
    transform: scale(0.98);
}


button.apagar {
    background-color: rgb(249, 74, 74);
    border-style: solid;
    position:relative;
    left:200px;
    top:55px;
}

button.apagar:active {
    background-color: red;
    transform: scale(0.98);
}

mat-list {
    border-top-style: solid;
    line-height: 2;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(0,0,0,0.2);
    width:550px;
}

mat-divider {
    width:600px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 20px;
}