<button #mdcButton class="mdc-button mdc-button--outlined" routerLink="/websites">Websites</button>
<button #mdcButton class="mdc-button mdc-button--outlined" routerLink="/view2">View 2</button>
<button #mdcButton class="mdc-button mdc-button--outlined" routerLink="/view3">View 3</button>


<section>
  <div class="example-label">Basic</div>
  <div class="example-button-row">
    <button mat-button>Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>